:root {
    --colorMain: #444;
    --colorLight: rgb(153, 153, 153);
    --colorAccent: #ddd;
  }
  
  body {
    background: #fef5e5;
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
    text-align: center;
    padding: 20px;
  }
  h1 {
    font-size: 30px;
    line-height: 1.1;
    width: 100%;
    margin:  5px;
    text-transform: uppercase;
    text-align: center;
  }
  
  /*color picker*/
  [type="radio"] {
    display: none;
  }
  label {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #f9f9f9, 0 0 0 3px #ddd;
    cursor: pointer;
  }
  [type="radio"]:checked + label {
    box-shadow: 0 0 0 2px #f9f9f9, 0 0 0 3px var(--colorMain);
  }
  #Coral + label {
    background: #ff7f50;
  }
  #Mustard + label {
    background: #ffdb58;
  }
  #pink + label {
    background: #FFA1AD;
  }
  #Mauve + label {
    background: #e0b0ff;
  }
  #NavyBlue + label {
    background: #000080;
  }
  #Maroon + label {
    background: #800000;
  }
  #gray + label {
    background: #808080;
  }
  #Coral:checked ~ .cards-wrapper, #Coral:checked + label {
    --colorMain: #cf5919;
    --colorLight: #c7a770;
    --colorAccent: #ffedae;
  }
  #Mustard:checked ~ .cards-wrapper, #Mustard:checked + label {
    --colorMain: #F2921B;
    --colorLight: #f5af59;
    --colorAccent: #f9cd97;
  }
  #pink:checked ~ .cards-wrapper, #pink:checked + label {
    --colorMain: #FFA1AD;
    --colorLight: #ffc3ca;
    --colorAccent: #ffdce1;
  }
  #Mauve:checked ~ .cards-wrapper, #Mauve:checked + label {
    --colorMain: #a525bc;
    --colorLight: #39171b;
    --colorAccent: #633f4e;
  }
  #NavyBlue:checked ~ .cards-wrapper, #NavyBlue:checked + label {
    --colorMain: #3e1db6;
    --colorLight: #2a50a3;
    --colorAccent: #1b0c51;
  }
  #Maroon:checked ~ .cards-wrapper, #Maroon:checked + label {
    --colorMain: #dc1010;
    --colorLight: #e04020;
    --colorAccent: #410e09;
  }
  #gray:checked ~ .cards-wrapper, #gray:checked + label {
    --colorMain: #c3b4a4;
    --colorLight: #a6833c;
    --colorAccent: #d3e1b8;
  }
  
  /*cards*/
  .cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
  }
  .card {
    flex: 1;
    background: #fff;
    padding: 23px 20px;
    border-radius: 4px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
    min-width: 200px;
    max-width: 300px;
  }
  .hudai{
    font-size: 18px;
  }
  .card:before {
    content: '';
    position: absolute;
    height: 6px;
    width: 100%;
    top: -1px;
    left: 0;
    background: var(--colorMain);
  }
  .image {
    background: var(--colorLight);
    background: linear-gradient(
      to bottom right,
      var(--colorLight),
      var(--colorAccent)
    );
    width: 100%;
    height: 160px;
    border-radius: 3px;
  }
  .title {
    margin: 20px 0;
    background: var(--colorMain);
    height: 40px;
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
  }
  .title.with-tag {
    margin: 20px 0 10px;
  }
  .tag {
    width: 45px;
    height: 10px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 20px;
    background: var(--colorAccent);
  }
  .divider {
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
  button {
    border-radius: 30px;
    background: var(--colorMain);
    border: none;
    border: 4px solid var(--colorMain);
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  button:hover {
    background: var(--colorLight);
  }
  
  button span {
    width: 40%;
    height: 8px;
    background: #fff;
    display: inline-block;
    border-radius: 20px;
  }
  .paragraph {
    margin: 20px 0;
  }
  .paragraph p {
    width: 90%;
    background: #ddd;
    height: 15px;
    margin: 0 0 12px;
    border-radius: 20px;
  }
  .paragraph p:nth-child(2n + 2) {
    width: 80%;
  }
  .paragraph p:last-child {
    width: 40%;
  }
  