body{
    background-image:url(back.jpg);
    padding: 0;
    margin: 0;
}
section{
    background-color: #91c8ff;
    width: 35%;
    margin: 40px auto;
    border: 5px solid white;
}

article div{
    padding-bottom: 20px;
}
article label{
margin-left: 40px;
color: rgb(0,0,22);
}
article input{
width: 85%;
padding-bottom: 5px;
padding-top: 5px;
margin-left: 40px;
box-sizing: none;
background-color: #91c8ff;
border: none;
font-size:medium;
border-bottom:1px solid rgb(1,1,51);

}
::placeholder{
    color: rgb(92,140,180);
}
::placeholder{
    color: rgb(92,140,180);
}

article h1{
    padding-top: 5px;
    font-size: 25px;
    text-align: center;
}
article sup{
    color: red;
}
article #checkbox{
    width: 15px;
}
article .checkbox{
    margin-left: 0;
    color:rgb(1,1,51)
}
article button{
    padding: 15px 195px 15px 185px;
    border: none;
    border-radius: 40px;
    background: #2e91e1;
    font-weight: 600;
    font-size: 15px;
}
